@using RestApiClient.Models
@model ImportXmlFormatViewModel

<br>
<h3><b>Импорт Форматов XML</b></h3>
<br>

@using (Html.BeginForm("Import", "ImportXmlFormats", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    @Html.ActionLink("Пример файла", "GetExample", null, new { @class = "btn btn-secondary" })
    <input type="submit" value="Сохранить" class="btn btn-success" />
    @Html.ActionLink("Отменить", "Index", "Formats", null, new { @class = "btn btn-danger" })
}